{% extends "base/index.html" %}
{% load static %}
{% block  content%}
<section class="ftco-section contact-section register">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="" method="POST" class="bg-light p-5 contact-form">
                        <a class="navbar-brand center" href="#">Stories<span>.</span></a>
                        {% csrf_token %}
                        {% comment %} {{form.errors}} {% endcomment %}
                        {% comment %} {{form.non_field_errors}} {% endcomment %}
                        {% for field in form %}
                        <div class="form-group">
                            <span class="alert-danger">{{field.errors}}</span>
                            {{field}}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary py-3 px-5">
                        </div> 
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock  %}